@import "~styles/index";

%common-style {
    position: relative;

    height: 120px;

    font-size: 1rem;

    border-radius: .5rem;
    border: 1px solid transparent;

    transition: .18s;
}

.oms-textarea_wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: .5rem;

    textarea {
        // resize: none;
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        color: $clr-theme-text-normal;

        padding: 1rem;
    }

    textarea[disabled] {
        cursor: not-allowed;
        @extend %noselect;
    }

    .oms-textarea_wrapper-placeholder {
        pointer-events: none;
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        gap: .5rem;

        padding: 1rem;
    }

    .oms-textarea_placeholder {
        margin: 0;
        opacity: .6;
    }

    .oms-textarea_required {
        margin: 0;
        align-items: start;
    }
}

.oms-textarea {
    @extend %common-style;
    background-color: $clr-gray-5;
}

.oms-textarea:hover {
    @include hover {
        border-color: $clr-primary-3;
    }
}

.oms-textarea:focus-within {
    @extend %focus;
    background-color: transparent;
}

.oms-textarea_error {
    @extend %common-style;
    border-color: $clr-error;
    @extend %error;
}

.oms-textarea_disabled {
    @extend %common-style;
    background-color: $clr-gray-5;
}