@import "~styles/index";

%common-style {
    resize: none;

    min-height: 3.5rem;
    height: 120px;

    font-size: 1rem;
    color: $clr-theme-text-normal;

    padding: 1rem;

    border-radius: .5rem;
    border: 1px solid transparent;

    background-color: $clr-gray-5;
    transition: .18s;
}

.oms-textarea_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: .5rem;
}

.oms-textarea_wrapper {
    position: relative;
    display: flex;
}

.oms-textarea {
    @extend %common-style;

}

.oms-textarea:hover {
    @include hover {
        border-color: $clr-primary-3;
    }
}

.oms-textarea:focus {
    @extend %focus;
    background-color: transparent;
}

.oms-textarea_disabled {
    cursor: not-allowed;

    @extend %noselect;
    @extend %common-style;

    color: $clr-gray-3;
    border-color: $clr-gray-5;
}

.oms-textarea_error {
    @extend %common-style;
    @extend %error;

    border-color: $clr-error;
}

.oms-textarea_error:focus {
    background-color: transparent;
}

.oms-textarea_resize:not([disabled]) {
    resize: vertical;
}

.oms-textarea_wrapper-placeholder {
    pointer-events: none;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    gap: .5rem;

    padding: 1rem;

    .oms-textarea_placeholder {
        margin: 0;
        opacity: .6;
    }

    .oms-textarea_required {
        margin: 0;
        align-items: start;
    }
}