%focus {
    box-shadow: 0 0 0 calc(1rem - 10px) $clr-primary-alpha;
}

%error {
    box-shadow: 0 0 0 2px $clr-error;
    opacity: .26;
}

%noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}