// Service
$clr-error: var(--clr-error);
$clr-warning: var(--clr-warning);
$clr-success: var(--clr-success);
$clr-info: var(--clr-info);
$clr-help: var(--clr-help);

// Whites
$clr-white-1: var(--clr-white-1);
$clr-white-2: var(--clr-white-2);
$clr-white-3: var(--clr-white-3);
$clr-white-4: var(--clr-white-4);
$clr-white-5: var(--clr-white-5);

// Blacks
$clr-black-1: var(--clr-black-1);
$clr-black-2: var(--clr-black-2);
$clr-black-3: var(--clr-black-3);
$clr-black-4: var(--clr-black-4);
$clr-black-5: var(--clr-black-5);

// Grays
$clr-gray-1: var(--clr-gray-1);
$clr-gray-2: var(--clr-gray-2);
$clr-gray-3: var(--clr-gray-3);
$clr-gray-4: var(--clr-gray-4);
$clr-gray-5: var(--clr-gray-5);

// Theme
$clr-theme-background: var(--clr-background);
$clr-theme-title: var(--clr-title);
$clr-theme-text-normal: var(--clr-text-normal);
$clr-theme-text-bold: var(--clr-text-bold);
$clr-theme-icon: var(--clr-icon);

// Primary
$clr-primary-1: var(--clr-primary-1);
$clr-primary-2: var(--clr-primary-2);
$clr-primary-3: var(--clr-primary-3);
$clr-primary-4: var(--clr-primary-4);
$clr-primary-5: var(--clr-primary-5);
$clr-primary-alpha: var(--clr-primary-alpha);