@import "fonts";
@import "mixins";
@import "functions";
@import "colors";
@import "variables-color";
@import "resets";
@import "media";
@import "template";

.sb-show-main,
.css-hd7ysc {
  background: $clr-theme-background !important;
}

.sbdocs-wrapper {
  height: 100vh;
  overflow-y: scroll;
}