@import "~styles/index";

%common-styles {
    display: flex;
    align-items: center;
    gap: .5rem;

    font-size: 1rem;
    font-weight: 400;

    .wrapper-icon {
        font-size: calc(1rem + 2px);
    }
}

.oms-typography_service-info {
    @extend %common-styles;
    color: $clr-info;
}

.oms-typography_service-error {
    @extend %common-styles;
    color: $clr-error;
}

.oms-typography_service-warning {
    @extend %common-styles;
    color: $clr-warning;
}

.oms-typography_service-success {
    @extend %common-styles;
    color: $clr-success;
}

.oms-typography_service-help {
    @extend %common-styles;
    color: $clr-help;
}

.oms-typography_service-small {
    font-size: calc(1rem - 2px);
    letter-spacing: calc((1rem - 10px) * 0.1);

    .wrapper-icon {
        font-size: 1rem;
    }
}