@import "~styles/index";

%common-styles {
  $size: calc(1rem + 2px);

  width: $size;
  height: $size;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  border: 1px solid transparent;
  border-radius: 2px;

  color: $clr-theme-icon;

  input {
    display: none;
  }

  &:not(.oms-checkbox_disabled):hover {
    @include hover {
      cursor: pointer;
      box-shadow: 0 0 0 .5rem $clr-primary-alpha;
      transition: .18s;
    }
  }
}

%hover {
  @include hover {

    .oms-checkbox:not(.oms-checkbox_disabled),
    .oms-checkbox_checked:not(.oms-checkbox_disabled),
    .oms-checkbox_indeterminate:not(.oms-checkbox_disabled) {
      background-color: $clr-primary-3;
      border-color: $clr-primary-3;
      transition: .18s;
    }

    .oms-checkbox_label {
      cursor: pointer;
      color: $clr-primary-3;
      transition: .18s;
    }
  }
}

.oms-checkbox_align-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.oms-checkbox_align-center:hover {
  @extend %hover;
}

.oms-checkbox_align-top {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.oms-checkbox_align-top:hover {
  @extend %hover;
}

.oms-checkbox {
  @extend %common-styles;

  border-color: $clr-gray-1;
  background-color: $clr-theme-background;
}

.oms-checkbox_checked,
.oms-checkbox_indeterminate {
  @extend %common-styles;

  background-color: $clr-primary-3;
  border-color: $clr-primary-3;
}

.oms-checkbox_disabled {
  cursor: not-allowed;

  color: $clr-gray-3;
  background-color: $clr-gray-5;
  border-color: $clr-gray-3;
}